@import 'base.scss';
@import './icons/googleAPI.css';

.create-recover-password-container {

    height: 100%;
    background-color: #f2f2f2;

    div.row.valign-wrapper {
        height: calc(100% - 65px);
        width: 100%;
        margin-bottom: 0px;
        overflow-y: scroll;

        .card-content {

            .back-arrow {
                display: none;

                @media (max-width: $width-landscape-mobile) {
                    display: initial;
                    color: $primary-color;
                    font-size: 30px;

                    &:hover {
                        color: $hover-color;
                        opacity: $hover-opacity;
                    }
                }
            }

            .text-fail {
                color: red;
            }

            button {
                width: 100%;
            }
        }
    }
}