@import 'base.scss';

.recover-password-container {

    height: 100%;
    background-color: #f2f2f2;

    //@media (max-width: $width-landscape-mobile) {
    //    background-color: $primary-color;
    //}

    div.row.valign-wrapper {
        width: 100%;
        height: calc(100% - 64px);
        margin-bottom: 0;

        .card-content{

            .back-arrow {
                display: none;

                @media (max-width: $width-landscape-mobile) {
                    display: initial;
                    color: $primary-color;
                    font-size: 30px;

                    &:hover {
                        color: $hover-color;
                        opacity: $hover-opacity;
                    }
                }
            }
            
            .text-fail {
                color: red;
            }

            button {
                width: 100%;
            }
        }
    }
}